p.intro {
  width: 50%;
  font-style: oblique;
}

p.author {
  width: 75%;
  font-style: oblique;
  font-weight: bold;

}

.important {
  color: red;
}

.unimportant {
  color: blue;

}

.fartbutt {
  font-weight: 700;
}

img {
  float: right;
  margin: 0 10px 0 10px;
}

.sidebar {
  float: left;
  width: 15%;
  margin: 0 10px 0 10px;
  padding: 0 3px 0 3px;
  background-color: #226644;
  color: yellow;
}

.column {
  width: 300px;
  float: left;
}